nav {
    background-color: #333;
    color: white;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }