nav {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    background-color: #000;
    color: white;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    
  }
  
  nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }