.register-container {
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    background-color: #000;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 130px;
}
.title {
    font-size: 32px;
    color: rgb(186, 190, 186);
    margin-bottom: 20px;
  }

  .register-form h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #f0f0f0;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    color: #f0f0f0;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #222;
    color: white;
    font-size: 14px;
    outline: none;
  }
  
  .form-group input::placeholder {
    color: #888;
  }
  
  .form-group input:focus {
    border-color: #b0adae; 
  }
  
  /* register Button */
  .btn {
    background: rgb(186, 190, 186); 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
  }
  
  .btn:hover {
    background: #cecdce; 
  }
  
  /* Register Link */
  .login-link {
    margin-top: 20px;
    font-size: 16px;
    color:white;
  }
  
  .login-link a {
    color: rgb(186, 190, 186);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-link a:hover {
    color: #cecdce;
  }