.catalog-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    background-color: #000;
  }
  
  .catalog-title {
    color: #ccc; 
    font-family: 'Press Start 2P', cursive; 
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  /* Card Container */
  .catalog-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: #242424; /* Card background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }
  
  /* Movie Image */
  .movie-image img {
    width: 150px;
    height: 150px;
    border: 3px solid #222;
    border-radius: 4px;
  }
  
  /* Movie Details */
  .movie-details {
    text-align: center;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
  }
  
  /* Movie Name */
  .movie-name {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  /* Details Button */
  .details-btn {
    background: rgb(186, 190, 186); 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;
  }
  
  .details-btn:hover {
    background-color: #cecdce;
  }
  