.welcome {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 250px;
}

.welcome-card {
    background-color: #000;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
}

.welcome-card h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: rgb(186, 190, 186);
}

.welcome-card p {
    font-size: 1.4rem;
    color: #ccc;
}

.welcome-card .register {
    margin-top: 4rem;
}

.welcome-card .register .btn {
    background: rgb(186, 190, 186);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease;

}

.welcome-card .register .btn:hover {
    background: #cecdce;
}

.welcome-card .register p {
    font-size: 1.0rem;
    color: #ffffff;
}