footer {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  margin: 0;
  font-size: 0.9rem;
}